/*
cores que usarei:
#242038
#725AC1
#8D86C9
#CAC4CE
#F7ECE1
*/

body{
    background: #F7ECE1;
}

h1{
    color: #F7ECE1;
    text-align: center;
}
p{
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.box1{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;

}
.boxindex{
    background-color:#242038;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.boxbutton{
    background-color: #8D86C9;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;
    border-radius: 50%;
    width: 18%;
    height: 5%;
}
#centrotest{
    display: flex;
    justify-content: center;
}

.conteiner-flex{
    display: flex;
    background-color: #242038;
}

.item{
    background-color: #CAC4CE;
    padding: 1% 10% 1% 10%;
    margin: auto;
}
.mark-text{
    background-color: #8D86C9;
}