@charset "UTF-8";

/*
cores que usarei:
#242038
#725AC1
#8D86C9
#CAC4CE
#F7ECE1
*/

body{
    background: #F7ECE1;
}

h1{
    color: #F7ECE1;
    text-align: center;
}
p{
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

mark{
    background-color: #8D86C9;
}

a{
    text-decoration: none;
    font-size: 25px;
}
.box1{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;

}
.boxindex{
    background-color:#242038;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.boxbutton{
    background-color: #8D86C9;
    box-shadow: 0px 0px 10px #242038;
    padding: 1%;
    justify-content: center;
    border-radius: 5%;
    width: fit-content;
}
.boxbutton:hover{
    background-color: #242038;
}
#centrotest{
    display: flex;
    justify-content: center;
}

.conteiner-flex{
    display: flex;
    background-color: #242038;
}

.item{
    background-color: #CAC4CE;
    padding: 1% 10% 1% 10%;
    margin: auto;
}

.item2{
    background-color: #CAC4CE;
    width: fit-content;
    padding: 1%;
}

.item2:hover:hover{
    padding: 1% 2% 1% 2%;
}

.mark-text{
    background-color: #8D86C9;
}

.imagem1{
    border-radius: 60%;
    width: 25%;
    height: 25%;
}

.imagemcontorno:hover{
    box-shadow: 0px 0px 10px white;
}